/* Menu */
.nav {
  position: fixed;
  background-color: #ffffff;
  height: 80px;
  color: #000000;
  width: 100%;
}

.nav__title {
  font-size: 1.5em;
  font-weight: 900;
}

.nav__logo {
  width: 45px;
  height: 45px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__label,
.nav__input {
  display: none;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.nav__item {
  position: relative;
  border: none;
  padding: 0.2rem;
  color: #000;
  text-decoration: none;
  margin: 5px;
}
.nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 0%;
  height: 1px;
  background: #000;
  transition: width 0.5s ease, left 0.5s ease;
}
.nav__item:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0009;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 500ms ease-in-out;
    transform: translate(-100%, 0);
    /* transform: translate(0, -100%); */
    /* transform: translate(0, 100%); */
    /* transform: translate(100%, 0); */
  }
  .nav__input:checked + .nav__menu {
    transform: translate(0, 0);
  }
  .nav__item {
    color: white;
  }
}
