.contact__section {
  position: relative;
  height: 90vh;
  width: 100%;
}

.contact__container {
  padding-top: 20px;
}

.contact__title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
  animation: 2s title-text ease-in-out;
}

.contact__paragraph {
  grid-area: text;
  color: #262b2f;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2s title-text ease-in-out;
}

@keyframes title-text {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.main__content {
  padding-bottom: 20px;
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: 2s main-content ease-in-out;
}

.main__content p {
  padding: 10px 0;
}

.content__info {
  text-align: start;
}

.content__icon {
  margin-right: 10px;
}

.content__paragraph {
  color: #fff;
  padding: 0 10px;
  margin-top: 10px;
}

@keyframes main-content {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(0);
  }
}

.contact__form {
  background: #fff;
  grid-area: form;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__form input,
.contact__form textarea {
  padding: 4px;
  width: 100%;
}

.contact__form label {
  font-size: 12px;
}

.contact__form button {
  margin-top: 30px;
  padding: 4px;
  background: #262b2f;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: background-color 300ms ease-out;
}

.contact__form button:hover {
  background: #000;
}

.contact__logo {
  background: #262b2f;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  animation: contact-logo 2s ease-in-out;
}

@keyframes contact-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact__map {
  margin-top: 50px;
  grid-area: map;
  background-color: #fff;
}

@media (min-width: 768px) {
  .contact__section {
    /*  position: relative;
    height: 90vh;
    width: 100%; */
    background: linear-gradient(to left, #ffff 55%, #262b2f 55%);
  }

  .contact__container {
    position: absolute;
    z-index: 5;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 45% 55%;
    grid-template-rows: 20% 60% 20%;

    grid-template-areas:
      'title  text'
      'data   form'
      'logo   form';
  }
}
