/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h3{
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.container-menu {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 75px;
    height: 75px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #0062cc;
}

.menu-items {
    padding: 10px 20px;
}

.spans {
    display: inline-block;
    border: 2px solid #0062cc;
    padding: 5px;
    margin: 300px;
}
/* Estilos específicos de la página index */
.container-banner img{
    display: flex;
    width: 100%;
}

.bienvenidos {
    background-color: #262b2f;
    color: #AAAAAA;
    margin-bottom: 0%;
}

.bienvenidos h2 {
    color: #fff;
}

.seccion1 {
    background-color: #262b2f;
    color: #AAAAAA;
    margin-top: 0%;
}

.seccion1 h3 {
    color: #fff;
}

.seccion2 {
    background-color: #262b2f;
    color: #AAAAAA;
}

.seccion2 h3 {
    color: #fff;
}

.experiencias-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Estilos específicos de la página empresa */
.nosotros-container {
    display: flex;
    flex-direction: row;
}
.vision {
    float: left;
    width: 50%;
}

.mision {
    float: right;
    width: 50%;
}

.empleados-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}


.empleados-container .empleados-item img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.empleado h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.empleado p {
    font-size: 1.2em;
    line-height: 1.4;
}

/* Estilos específicos de la página servicios */
.servicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}

.servicio img {
    flex: 1;
    max-width: 50%;
    margin: 0 2rem 0 0;
}

.servicio .descripcion {
    flex: 1;
    margin: 0 0 0 2rem;
}

.servicio h3 {
    margin-top: 0;
}

/* Estilos específicos de la página blog */
.noticia-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.noticia-principal h2 {
    margin-right: 20px;
}

.noticia-contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.noticia-contenido img {
    max-width: 50%;
    margin-right: 20px;
}

.noticia-texto {
    flex-grow: 1;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.imagen {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.imagen img {
    max-width: 100%;
    margin-bottom: 10px;
}

.imagen h3 {
    font-size: 1.2em;
    margin: 0;
}

.imagen p {
    margin: 0;
}

/* Estilos específicos de la página contacto */
#contacto-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

#contacto-formulario label {
    display: block;
    margin-bottom: 10px;
}

#contacto-formulario input,
#contacto-formulario textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

#contacto-formulario textarea {
    height: 200px;
}
#contacto-formulario button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    }
    
    #contacto-formulario button:hover {
    background-color: #0062cc;
    }
    
/* responsive */

/* @media (min-width:480px) and (max-width: 767px) {
    .box-responsive {
    } 
} */  