/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
html,
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #262b2f;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
} */

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

h3 {
  text-align: center;
  color: #fff;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #aaaaaa;
}

/* Menu */
nav {
  /* max-width: 1440px; */
  position: sticky;
  top: 0;
  background-color: #ffffff;
  height: 80px;
  color: #000000;
  width: 100%;
  z-index: 50;
}

.nav__title {
  font-size: 1.5em;
  font-weight: 900;
}

.nav__logo {
  width: 45px;
  height: 45px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__label,
.nav__input {
  display: none;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.nav__item {
  position: relative;
  border: none;
  padding: 0.2rem;
  color: #000;
  text-decoration: none;
  margin: 5px;
}
.nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 0%;
  height: 1px;
  background: #000;
  transition: width 0.5s ease, left 0.5s ease;
}
.nav__item:hover::after {
  width: 100%;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  /* Agrego centrado vertical de los items dentro del flexbox */
  align-items: center;
}

.logo img {
  width: 75px;
  height: 75px;
}

/* Estilos específicos de la página index */
.hero {
  background-image: url('../images/hero_img.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.hero div {
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero div p {
  color: #fff;
}

.section {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}

.section__article {
  padding: 20px 0;
  width: 50%;
  flex: 0 0 100%;
}

.section__article h2 {
  padding: 20px 0;
}

.section__img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.experiences {
  padding: 20px;
  margin: 40px 0;
  width: 100%;
}

.experiences__container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.experiences__item {
  width: 100%;
}

/* Estilos específicos de la página empresa */

.container {
  padding: 30px 20px;
}

.about__section {
  padding: 30px 0;
}

.about__container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__paragraph {
  padding: 20px 0;
}

.staff__section {
  padding: 30px 0;
}

.staff__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.staff__item {
  margin-top: 60px;
}

.staff__item img {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.staff__item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.staff__item p {
  font-size: 1.2em;
  line-height: 1.4;
  text-align: center;
}

/* Estilos específicos de la página blog */
.section__blog {
  /* max-width: 900px;
  margin: 0 auto; */
  padding: 40px;
  display: grid;
  gap: 20px 0;
  grid-template-areas:
    'position1'
    'position2'
    'position3'
    'position4';
}

.article {
  min-width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  text-align: center;
}

.article1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: blue; */
  grid-area: position1;
}

.article2 {
  grid-area: position2;
  /* background-color: red; */
}

.article1__img,
.article__img {
  /* max-width: 300px; */
  margin: 0 auto;
  width: 100%;
  height: 50%;
  display: block;
  /* object-fit: contain; */
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: scale-down; */
  /* object-position: right top; */
}
.article1__img {
  height: auto;
  max-width: 300px;
}

.article__title {
  padding: 20px 10px;
  color: #f5f5f5;
}

.article__paragraph {
  padding: 0 10px;
  color: #f5f5f5;
}

.article3 {
  /* background-color: green; */
  grid-area: position3;
}

.article4 {
  /* background-color: yellow; */
  grid-area: position4;
}

/* Estilos específicos de la página contacto */
.contact__section {
  position: relative;
  height: 90vh;
  width: 100%;
}

.contact__container {
  padding-top: 20px;
}

.contact__title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
  animation: 2s title-text ease-in-out;
}

.contact__paragraph {
  grid-area: text;
  color: #262b2f;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2s title-text ease-in-out;
}

@keyframes title-text {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.main__content {
  padding-bottom: 20px;
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: 2s main-content ease-in-out;
}

.main__content p {
  padding: 10px 0;
}

.content__info {
  text-align: start;
}

.content__icon {
  margin-right: 10px;
}

.content__paragraph {
  color: #fff;
  padding: 0 10px;
  margin-top: 10px;
}

@keyframes main-content {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(0);
  }
}

.contact__form {
  background: #fff;
  grid-area: form;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__form input,
.contact__form textarea {
  padding: 4px;
  width: 100%;
}

.contact__form label {
  font-size: 12px;
}

.contact__form button {
  margin-top: 30px;
  padding: 4px;
  background: #262b2f;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: background-color 300ms ease-out;
}

.contact__form button:hover {
  background: #000;
}

.contact__logo {
  background: #262b2f;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  animation: contact-logo 2s ease-in-out;
}

@keyframes contact-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact__map {
  margin-top: 50px;
  grid-area: map;
  background-color: #fff;
}

@media (max-width: 768px) {
  /* Menu */
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color: #0009;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .nav__input:checked + .nav__menu {
    left: 0;
  }

  .nav__item {
    color: white;
  }
}

@media (min-width: 768px) {
  /* main */
  .experiences__container {
    flex-direction: row;
  }
  .section {
    display: flex;
    align-items: center;
  }
  .section__article {
    flex: 0 0 50%;
  }
  .section--reverse {
    flex-direction: row-reverse;
  }

  /* About */
  .about__container {
    flex-direction: row;
  }
  .about__article {
    width: 50%;
  }

  /* Blog */
  .section__blog {
    gap: 20px;
    grid-template-areas:
      'position1 position1 position1'
      'position2 position3 position4';
  }

  .article1 {
    flex-direction: row;
  }

  /* Contact */
  .contact__section {
    background: linear-gradient(to left, #ffff 55%, #262b2f 55%);
  }

  .contact__container {
    position: absolute;
    z-index: 5;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 45% 55%;
    grid-template-rows: 20% 60% 20%;

    grid-template-areas:
      'title  text'
      'data   form'
      'logo   form';
  }
}

/* color placeholder input bootstrap  */
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dee2e6;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dee2e6;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dee2e6;
}

footer p {
  font-size: 16px;
}
