/* Estilos específicos de la página blog */
.section__blog {
  /* max-width: 900px;
  margin: 0 auto; */
  padding: 40px;
  display: grid;
  gap: 20px 0;
  grid-template-areas:
    'position1'
    'position2'
    'position3'
    'position4';
}

.article {
  min-width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  text-align: center;
}

.article1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: blue; */
  grid-area: position1;
}

.article2 {
  grid-area: position2;
  /* background-color: red; */
}

.article1__img,
.article__img {
  /* max-width: 300px; */
  margin: 0 auto;
  width: 100%;
  height: 50%;
  display: block;
  /* object-fit: contain; */
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: scale-down; */
  /* object-position: right top; */
}
.article1__img {
  height: auto;
  max-width: 300px;
}

.article__title {
  padding: 20px 10px;
  color: #f5f5f5;
}

.article__paragraph {
  padding: 0 10px;
  color: #f5f5f5;
}

.article3 {
  /* background-color: green; */
  grid-area: position3;
}

.article4 {
  /* background-color: yellow; */
  grid-area: position4;
}

@media (min-width: 768px) {
  .section__blog {
    gap: 20px;
    grid-template-areas:
      'position1 position1 position1'
      'position2 position3 position4';
  }

  .article1 {
    flex-direction: row;
  }
}
