@use 'sass:math';

@mixin create-flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@function pixels-rem($pixels) {
  $rem: math.div($pixels, 16) * 1rem;

  @return $rem;
}
