@use 'reset';
@use 'variables';
@use 'menu';
@use 'index';
@use 'about';

/* Estilos generales */
html,
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: variables.$bg-color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: variables.$title-color;
}

h3 {
  font-size: 20px;
  text-align: center;
  color: variables.$title-color;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: variables.$paragraph-color;
}
